<div class="row g-5 mb-5">
    <div>
        <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
        <h5>Published Papers</h5>
        <p><a href="https://stanford.edu/~boaza/Abramson_Shayo_Integration_Oct2021.pdf">International Integration and Social Identity</a> (with Moses Shayo)</p>
        <p><b>Journal of International Economics.</b>Vol 137, 2022.</p>
        <p>This paper contributes to the literature incorporating social identity into international economics. We develop a theoretical framework for studying the interplay between international integration and identity politics, taking into account that both policies and identities are endogenous. We find that, in general, a union is more fragile when peripheral member countries have higher status than the Core, as this leads to stronger national identification in equilibrium and a lower willingness to compromise. Low-status countries are less likely to secede, even when between-country differences in optimal policies are large, and although equilibrium union policies impose significant economic hardship. Contrary to the anticipation of some union advocates, mutual solidarity is unlikely to emerge as a result of integration alone.</p>

        <h5>Working Papers</h5>
        <p><a href="https://stanford.edu/~boaza/evictions_abramson.pdf">The Welfare Effects of Eviction and Homelessness Policies</a>(Job Market Paper) </p>
        <p><a href="https://stanford.edu/~boaza/FK_Housing_July_2021.pdf">Self-Assessed Financial Literacy in Housing Markets</a> (with Andres Yany)</p>

        <h5>Work in Progress</h5>
        <p><a href="https://stanford.edu/~boaza/site2021.pdf">Search to Rent or Search to Own: Housing Market Churn in the Cross Section of Cities</a> (with Tim Landvoigt, Monika Piazzesi and Martin Schneider)</p>

        <p>Gone but not Forgotten: The Effect of Death During War on Families (with Helen Kissel)</p>
    </div>
</div>
